body{
    background-color:#EFEFEF;
    
}

.face {
    margin-top:100px;
}
#occupation{
    margin-top: 140px;
    color:  #00B5B8;
    margin-left: 50px;
    font-weight:bold;
}
#intro{
    margin-top:50px;
    margin-left:50px;
}
.dark{
    font-weight:bold;
}
.face{
    display:flex;
    justify-content: center;;
}